* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --bg: #eee;
  --btn-font-color: #555;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: monospace;
}

.btn {
  position: relative;
  border: none;
  outline: none;
  color: var(--btn-font-color);
  cursor: pointer;
  padding: 30px 60px;
  display: flex;
  overflow: hidden;
  border-radius: 50px;
  transition: box-shadow 0.4s ease-in-out;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn {
  margin-bottom: 50px;
}

.btn .btn-text {
  z-index: 5;
  font-size: 150%;
  transition: 0.4s ease-in-out;
}

.animated-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
}

.btn .animated-bg span {
  top: 0;
  left: 0;
  background: var(--bg);
  transition: 0.7s ease-in-out;
}

.animated-bg.style-1 span {
  width: 10%;
  height: 25%;
}
.animated-bg.style-2 span {
  width: 20%;
  height: 50%;
}
.animated-bg.style-3 span {
  width: 25%;
  height: 100%;
}

.btn span:nth-child(2n) {
  transition: 0.3s;
  transition-delay: 0.1s;
}
.btn span:nth-child(3n) {
  transition: 0.2s;
  transition-delay: 0.2s;
}

.btn:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.521);
  color: var(--bg);
  background: var(--primary-color);
}

.btn:hover span {
  background: var(--primary-color);
  transform: rotateY(180deg) rotateX(180deg);
}
